<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
      <a routerLink="/"><img class="logo" src="../../../assets/Logo_direccion-general.pnp.png" alt="" srcset="" width="350" height="75px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ">
      
        <li class="nav-item">
          <a *ngIf="!authService.loggedIn(); else loggedIn" routerLink="/signin" >Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!authService.loggedIn();" (click)="alert()" routerLink="/signup" >Registrarse</a>
        </li>
      </ul>
      <ng-template #loggedIn>
        <div class="navbar-nav ml-auto">
          <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Cerrar Sesión</a>
        </div>
      </ng-template>
      
    </div>
  </div>
</nav>



