<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/portada0.jpg" class="d-block w-90" alt="...">
       
      </div>
      <div class="carousel-item">
        <img src="../../assets/Portada.JPG" class="d-block w-90" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/banner-vacunacion-contra-covid-19.jpg"  class="d-block w-90" alt="...">
      </div>
    </div>
  </div>