<div class="container" id="carnet">

<div class="carnet" >
    <div class="head">
            <img class="logo" src="../../assets/logo1.png" alt="" srcset="">
            <div class="texto">
                <p class="titulo">DIRECCIÓN GENERAL DE SANIDAD MILITAR</p>
                <p class="eslogan">Un equipo humano al servicio de la salud</p>
                
            </div>
    </div>

    <div class="body">
        
        <div class="pic">
        
            <img class="foto" src="{{decodeToken().picture}}" alt="" srcset="">
        
        </div>

        <div class="info">
        <div class="juntos">
        <div class="datos">
            <ul>Categoria:
                <li>{{decodeToken().categoria}}</li>
            </ul>

            <ul>Nombres:
                <li>{{decodeToken().names}}</li>
            </ul>
            <ul>Apellidos:
                <li>{{decodeToken().lastnames}}</li>
            </ul>
            <ul>Documento:
                <li>{{decodeToken().identificacion}}</li>
            </ul>
           
        </div>

        <div class="datos2">
            <ul>No. Documento:
                <li>{{decodeToken().NumDocumento}}</li>
            </ul>
            <ul>Fecha de nacimiento:
                <li>{{decodeToken().birthdate}}</li>
            </ul>
            <ul>Fecha de expedición:
                <li>{{decodeToken().expeditiondate}}</li>
            </ul>
        </div>
        </div>

        <div class="qr">
            <qr-code  class="code" value="{{value}}"  size=100 [margin]="0" errorCorrectionLevel="M"></qr-code>
        </div>
        
        </div>
    </div>

</div>

<div class="boton">

    <button class="btn"   (click)="PDF()">Descargar</button>

</div>

</div>

