
    <app-banner></app-banner>



    <div class="video">
        <div class="guia">
            <h1 > VIDEO TUTORIAL </h1>
        </div>
       
        <video controls>
        <source src="../../../assets/video1.mp4" type="video/mp4"/>
    </video>
    </div>


    <div class="main">

        <H1> CARNET DE SERVICIOS MÉDICOS DIGITAL</H1>

        <p class="eslogan">Una solucion más para brindar y garantizar el acceso de nuestros usuarios del SSFM a los servicios de salud.</p>

        <div class="imagenes">
            <div class="normal">
                <img src="../../../assets/Normal ID.png" alt="" srcset="">
            </div>
            <div class="mobile">
                <img src="../../../assets/Mobile.png" alt="" srcset="">
            </div>
            <div class="info">
                <img src="../../../assets/info.png" alt="" srcset="">
            </div>
        </div>

    </div>

    <div class="tarjetas">

        <div class="card" style="width: 18rem; margin:15px;">
            <img src="../../../assets/Portada1.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nuestra entidad</h5>
                <p class="card-text">La Direccion General de Sanidad Militar, cuenta con mas de 650.000 usuarios afiliados al SSFM.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin:15px;">
            <img src="../../../assets/Portada2.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">¿Para qué se requiere un carnet de servicios médicos digital?</h5>
                <p class="card-text">Le permitira a nuestros usuarios del SSFM, contar un mecanismo de accesibilidad rápido, ágil y seguro a todos los servicios medicos en disponibilidad.</p>
            </div>
        </div> 

        <div class="card" style="width: 18rem; margin:15px ;">
            <img src="../../../assets/Portada3.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">¿Estan seguros mis datos personales?</h5>
                <p class="card-text">Si ya que se el formulario se encuentra cifrado bajo una contraseña, y al momento de ser cargados se encriptan con el fin de protejer tus datos personales</p>
            </div>
        </div> 

        <div class="card" style="width: 18rem; margin:15px; ">
            <img src="../../../assets/Portada4.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">¿Cómo solicito el carnet de servicio medicos digital?</h5>
                <p class="card-text">La entidad cuenta con una pagina web exclusiva para realizar el proceso de creación del carnet de servicios medicos digital.</p>
            </div>
        </div> 


        <div class="card" style="width: 18rem; margin: 15px;">
            <img src="../../../assets/Portada6.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">¿Cuánto tiempo se demora el trámite?</h5>
                <p class="card-text">El tramite puede demorar entre 15 a 20 minutos, aclarando que el solicitando debe ser usuario activo del SSFM y tener en mano la consignacion del pago de carnet digital en el banco de preferencia.</p>
            </div>
        </div> 


    </div>
