.tarjetas{
width: 90%;
margin: auto;
padding: 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
flex-flow: wrap;
}

.card:hover{

    transform: scale(1.2);
    

}

.main{
    margin: 30px;
    padding: 10px;
    background-color: #ffffff49;
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(65, 65, 235, 0.794);
text-align: center;
}



.eslogan{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size:x-large;
}

.imagenes{
margin: auto;

display: flex;
flex-direction: row;
flex-flow: wrap;
justify-content: center;
align-items: center;
}

.normal{
    margin: 10px 20px;
}

.mobile{
    margin: 10px 20px;
}

.info{
    margin: 10px 20px;
}

.guia{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 20px;

}

.video{
    padding: 10px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    width: 70%;
    height: auto;
}

video{

    border-radius: 40px;
    filter: drop-shadow(15px 10px 15px rgba(141, 141, 141, 0.274));

}

@media only screen and (max-width: 600px) {  
    .video{
        padding: 10px;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
    }

    .normal img{
        width: 320px;
        height: 202px;  
    }

    .mobile img{
        width: 265px;
        height: 492px;
    }

    .info img{
        width: 335px;
        height: 187px;
    }

}